@charset "utf-8";
/* CSS Document */
body
{
margin:0px;
font-family:Georgia, "Times New Roman", Times, serif;
font-style:oblique;
}
#site_error,#site_message
{
margin-top:100px;
margin-bottom:-40px;
padding:20px;
border-radius:5px;
text-align:left;
display:block;
width:500px;
}
#site_error
{
background-color:#FF6666;
color:#FFFFFF;
}
#site_message
{
background-color:#66FF66;
color:#black;
}
#header
{
width:100%;
background-color:rgb(51,51,51);
position:fixed;
clear:both;
top:0px;
left:0px;
z-index:9;
vertical-align:top;
}
#h_web_title,#h_menu_bar,#h_msg,#h_notification,#h_profile_icon
{
float:left;
margin-top:5px;
margin-left:1px;
padding:5px;
}
#h_web_title
{
height:40px;
}
#h_menu_bar
{
min-width:200px;
/*width:45%;*/
}
#h_msg,#h_notification
{
width:60px;
text-align:center;
}
#new_msg_counts span,#new_notification_counts span
{
background-color:#FF9999;
color:#FFFFFF;
padding:2px;
margin:2px;
border-radius:5px;
}
#notification_preview
{
width:300px;
padding:0px;
position:fixed;
bottom:50px;
left:20px;
}
#notification_preview div
{
margin:10px;
padding:5px;
background-color:#0066FF;
border-radius:5px;
cursor:pointer;
color:#FFFFFF;
}
#h_profile_icon
{
width:250px;
margin:6px;
}
#menu_bar_button
{
width:200px;
height:20px;
cursor:pointer;
text-align:center;
padding:10px;
color:#FFF;
}
#main_menu_bar
{
/*background-color:rgb(51,51,51);*/
width:200px;
padding:0px;
text-align:center;
position:absolute;
margin-top:0px;
border-radius:5px;
height:0px;
overflow:hidden;
transition:linear 1s height;
}
#menu_bar_button
{

}
#h_menu_bar a
{
text-decoration:none;
background-color:rgb(51,51,51);
color:#FFFFFF;
font-size:20px;
margin:5px;
padding:10px;
border-radius:5px;
display:block;
}
#h_menu_bar a:hover
{
box-shadow:0px 0px 10px #ffffff;
background-color:#9966FF;
color:#333333;
}
#profile_icon
{
background-color:rgb(255,32,48);
border-radius:5px;
padding:3px;
color:#FFFFFF;
height:32px;
cursor:pointer;
}
#title
{
display:inline-block;
margin-left:20px;
}
#searchdiv
{
display:inline-block;
float:left;
margin-top:10px;
z-index:1;
}
#searchArea
{
width:300px;
}
#searchbar
{
border:1px solid black;
padding:5px;
border-radius:5px;
box-shadow: 0px 0px 10px #000000;
overflow:hidden;
text-align:left;
font-size:16px;
height:26px;
background-color:#FFFFFF;
}
#searchButton
{
margin-top:-29px;
margin-right:4px;
float:right;
cursor:pointer;
}
#searchButton:hover
{
box-shadow:0px 0px 10px #222222;
border-radius:5px;
}
#quick_search_results
{
position:absolute;
background-color:#FFFFFF;
top:50px;
border:1px solid black;
}
.quick_search_item:hover
{
background-color:#0066FF;
}
.people_option
{
padding:10px;
margin:0px;
display:block;
border-radius:5px;
}
.people_option .button
{
}
.people_option .button:hover
{
box-shadow:0px 0px 5px #ffffff;
}
#nav
{
min-width:900px;
width:70%;
z-index:0;
margin-top:60px;
display:inline-block;
}
#sidebar
{
display:inline-block;
min-width:200px;
width:25%;
min-height:100px;
background-color:#0C0;
}
.tab
{
margin:30px;
cursor:pointer;
padding-bottom:10px;
min-width:600px;
min-height:100px;
border:1px solid black;
border-radius:5px;
box-shadow:0px 5px 10px #000000;
}
.icon
{
padding:10px;
min-width:100px;
height:130px;
text-align:center;
cursor:pointer;
}
.icon:hover
{
background-color:#0F3;
border-radius:5px;
}
.tab #heading
{
box-shadow:0px 5px 2px #000000;
text-align:center;
background-color:#0066FF;
border-radius:2px;
color:#FFFFFF;
margin-top:-20px;
}
.tab #status
{
padding:6px;
overflow:hidden;
width:570px;
word-wrap:break-word;
overflow-y:auto;
margin-left:10px;
}
.tab #detail
{
padding:10px;
}
#signin_button
{
width:200px;
padding:10px;
background-color:#0066FF;
border-radius:5px;
color:#FFFFFF;
text-align:center;
display:inline-block;
margin-left:20px;
}#signin_button:hover
{
background-color:#009933;
}
#signin,#signup
{
text-align:left;
min-height:30px;
height:30px;
min-width:200px;
width:200px;
transition:height 1s,width 1s;
overflow:hidden;
}
#signin:hover
{
height:210px;
width:600px;
}
#signup:hover
{
height:460px;
width:600px;
}
#signin table
{
margin:10px;
margin-left:60px;
}
#signup table
{
margin:10px;
margin-left:60px;
}
#signin #heading h2,#signup #heading h2,#info #heading h2
{
padding:5px;
}
#welcome_message 
{
font-size:22px;
font-family:Georgia, "Times New Roman", Times, serif;
font-style:oblique;
}
#sub_message 
{
font-size:18px;
font-family:Georgia, "Times New Roman", Times, serif;
font-style:oblique;
clear:both;
}
#sub_message div
{
display:inline-block;
margin:20px;
clear:both;
width:500px;
}
.inputfield
{
padding:5px;
border-radius:5px;
width:200px;
box-shadow:0px 0px 5px #000000;
}
.button
{
width:100px;
padding:5px;
border-radius:5px;
text-align:center;
background-color:rgb(255,32,48);
color:#FFFFFF;
cursor:pointer;
}
#main_menu_container
{
height:0px;
padding-left:10px;
padding-right:10px;
overflow:hidden;
text-align:center;
transition:linear 1s height;
}
#main_menu
{
background-color:rgb(255,32,48);
margin-top:20px;
border-radius:5px;
z-index:9;
width:100px;
box-shadow:0px 0px 15px #000000;
}
#main_menu div
{
color:#FFFFFF;
font-size:14;
margin-top:2px;
padding:5px;
border-radius:5px;
}
#main_menu div:hover
{
background-color:#666666;
}
#main_menu a
{
text-decoration:none;
}
.sub_menu
{
position:fixed;
top:120px;
left:0px;
font-size:14px;
z-index:9;
background-color:#dddddd;
border-radius:10px;
}
#sub_menu_item
{
overflow:hidden;
width:60px;
min-height:200px;
background-color:#dddddd;
color:#000000;
transition:width 1s linear 0s;
z-index:10;
}
#sub_menu_item td
{
padding-top:10px;
padding-bottom:10px;
}
#sub_menu_title
{
z-index:11;
width:50px;
border-radius:10px;
background-color:#0033FF;
cursor:pointer;
}
.sub_menu .heading
{
-ms-transform: rotate(90deg); /* IE 9 */
-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
transform: rotate(90deg);
font-size:30px;
width:50px;
height:40px;
margin:0px;
margin-top:-50px;
padding:0px;
color:#FFFFFF;
}
.sub_menu .sub_menu_icon
{
width:50px;
text-align:center;
cursor:pointer;
}
.sub_menu img
{
width:30px;
height:30px;
}
#background_black
{
display:none;
}
#notification,#msg_notification
{
position:absolute;
top:60px;
/*right:200px;*/
z-index:99;
}
#msg_notification
{
right:300px;
}
#msg_notification .notification
{
height:80px;
}
#complete_message_preview_box,#complete_notification_preview_box
{
background-color:#FFFFFF;
border:1px solid gray;
box-shadow:0px 0px 5px #000000;
}
#complete_message_preview_box #preview_body,#complete_notification_preview_box #preview_body
{
width:300px;
height:300px;
overflow-y:auto;
overflow-x:hidden;
}
.msg_preview_inner,.notification_preview_inner
{
margin:5px;
text-align:left;
}
#read_messages
{

}
#unread_messages
{
background-color:#0066FF;
}
#notification_icon,#msg_notification_icon
{
padding:5px;
background-color:#FFFFFF;
border-radius:5px;
box-shadow:0px 0px 10px #ffffff;
cursor:pointer;
margin:5px;
}
.notification
{
height:100px;
width:250px;
border-radius:5px;
margin:5px;
overflow:hidden;
color:#FFFFFF;
padding:5px;
margin-bottom:0px;
}
#error
{
background-color:#FF2211;
color:#FFFFFF;
width:70px;
height:16px;
margin:5px;
padding:10px;
border-radius:5px;
display:inline-block;
transition:linear 1s width;
white-space:nowrap; 
overflow:hidden;
position:relative;
text-overflow:ellipsis;
-webkit-animation:linear errorAppear 10s; /* Chrome, Safari, Opera */
animation:linear errorAppear 10s;
cursor:pointer;
}
#error:hover
{
width:300px;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes errorAppear {
    0%   {left:100%;}
    100% {left:0px;}
}

/* Standard syntax */
@keyframes errorAppear {
    0%   {left:100%;}
    100% {left:0px;}
}
#site_notification
{
background-color:#22FF11;
color:#FFFFFF;
width:70px;
height:16px;
margin:5px;
padding:10px;
border-radius:5px;
display:inline-block;
transition:linear 1s width;
white-space:nowrap; 
overflow:hidden;
position:relative;
text-overflow:ellipsis;
-webkit-animation:linear errorAppear 10s; /* Chrome, Safari, Opera */
animation:linear errorAppear 10s;
cursor:pointer;
}
#right_click_menu
{
position:fixed;
top:0px;
left:0px;
display:none;
background-color:rgb(255,32,48);
border-radius:5px;
transition:linear 1s height;
}
#right_click_menu table td
{
padding:10px;
color:#FFFFFF;
padding-right:20px;
cursor:pointer;
margin:2px;
border-radius:5px;
}
#right_click_menu table td:hover
{
background-color:#999999;
}
#new_update_result
{
display:none;
}
#new_update
{
cursor:default;
}
#create_new_group_form
{
}
.popup
{
overflow:hidden;
position:fixed;
top:80px;
left:350px;
width:500px;
border:1px solid #000000;
border-radius:5px;
padding:0px;
box-shadow:0px 0px 5px #000000;
}
.popup #heading
{
width:100%;
background-color:#999999;
padding:5px;
text-align:center;
margin:0px;
}
.popup #body
{
width:100%;
background-color:#FFFFFF;
height:350px;
overflow-y:auto;
text-align:left;
}
.popup #button
{
padding:5px;
border:1px solid black;
box-shadow:2px 2px 5px #000000;
border-radius:5px;
background-color:#CCCCCC;
text-align:center;
margin:5px;
cursor:pointer;
}
#chating,user_list
{
position:fixed;
bottom:0px;
right:0px;
}
#chating div
{
display:inline-block;
}
#chat_box
{
width:270px;
height:300px;
background-color:#0099FF;
margin-right:200px;
}
#user_list
{
po
width:200px;
}
#ask_question_div
{
background-color:#FFFFFF;
}
.display_inline
{
display:inline-block;
}