@charset "utf-8";
/* CSS Document */
#nav
{
margin-left:100px;
}
#messages
{
}
#messagesenders
{
margin:0px;
width:250px;
height:420px;
overflow-y:auto;
border:1px solid black;
}
.member_messaged
{
margin:5px;
padding:10px;
}
#person_messages
{
float:left;
margin:20px;
width:750px;
height:400px;
}
#message_box
{
width:750px;
height:400px;
overflow-y:scroll;
}
.messages_sender
{
padding:10px;
border-radius:5px;
margin:5px;
background-color:#0066FF;
}
.messages_receiver
{
padding:10px;
border-radius:5px;
margin:5px;
background-color:#999999;
}
.selected_user
{
background-color:#ff6666;
}
.messege_receiver_name
{
color:#FFFFFF;
}
.messege_sender_name
{
color:#FFFFFF;
}
#message_textarea
{
border:1px solid black;
border-radius:5px;
box-shadow:0px 0px 10px #515151;
width:700px;
height:90px;
padding:5px;
}